main {
  padding: 0;
}

.reminders-text {
  margin: 1.5rem;
  font-weight: normal;
  font-size: 2rem;
  color: #272727
}

.reminders {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6b544;
  height: 25%;
  width: 100%;
}

.reminder-dates {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.reminder-date {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffedc1;
  color: #212121;
  height: 4rem;
  width: 9rem;
  margin-inline: 1rem;
  font-size: 0.8rem;
  border-radius: 5px;
}

.bestself {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#best-me-image {
  height: 50%;
}