<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="account">
  {% block head %}
  {% endblock %}
</head>
<body>
    <div id="leftbar">
        <div class="sidebar-button" id="Profile">
            <a href="{{ url_for('profile') }}">
                <div class="sidebar-button-inner">
                    <img src="{{ url_for('static', filename='images/account_icon.png') }}" alt="account" id="account" class="leftbar_icon">
                    <span class="sidebar-text">Profile</span> 
                </div>
            </a>
        </div>

        <div class="sidebar-button" id="Dashboard">
            <a href="{{ url_for('dashboard') }}">
                <div class="sidebar-button-inner">
                    <img src="{{ url_for('static', filename='images/dashboard_icon.png') }}" alt="dashboard" id="dashboard" class="leftbar_icon">
                    <span class="sidebar-text">Dashboard</span>
                </div>
            </a>
        </div>

        <div class="entries-title" id="EntriesTitle">
            <span class="sidebar-text">Entries</span> 
        </div>

        <div class="entry-list">
            <div class="new-entry" id="+Entry">
                <a href="{{ url_for('home') }}"><span class="sidebar-text">New Entry</span></a>
            </div>
    
            {% if journals %}
                {% for journal in journals %}
                    <a href="{{ url_for('view_journal', journal_id=journal.id) }}">
                        <div class="past-entry" id="Entry">
                            <img src="{{ url_for('static', filename='images/entry_icon.png') }}" alt="entry" id="entry" class="leftbar_icon">
                            <span class="sidebar-text">{{ journal.date }}</span>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <p>No journals found</p>
            {% endif %}
        </div>

        <div class="logofield">
            <img class="logo" src="{{ url_for('static', filename='images/logo_simpleoutline.png') }}">
        </div>
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>