{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Journal</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<h1 class="journal-title" id="date-header"></h1>

<script>
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    const date = new Date().toLocaleDateString('en-US', options);
    document.getElementById('date-header').innerText = date;
</script>

<form method="POST" id="journal-form" class="journal-form">

    

    <label for="reflection-area" class="entrytypetitle">Today's Reflection</label>
    <div class="date-container">
        <img src="{{ url_for('static', filename='images/calendar_icon.png') }}" alt="calendar" id="calendar" class="submit_icon">
        <input type="number" id="startDate" name="startDate" class="startDate" placeholder="Set a reminder here">
    </div>
    <textarea placeholder= "Write your thoughts here..." id="content" name="content" class="texteditor"></textarea>

    <label for="action-area" class="entrytypetitle">What will I improve on?</label>
    <textarea placeholder= "Write your actions here..." id="future" name="future" class="texteditor"></textarea>
    
    <button type="submit" class="save-container">
        <img src="{{ url_for('static', filename='images/folder_icon.png') }}" alt="folder" id="folder" class="submit_icon">
        <p  class="submit-button">Save</p>
    </button>
    
</form>

<script>
    $(document).ready(function() {
        $('#journal-form').on('submit', function(event) {
            event.preventDefault(); // Prevent default form submission

            // Serialize form data
            var formData = $(this).serialize();

            $.ajax({
                url: '/journals/new',  // URL to send the request to
                type: 'POST',              // HTTP method
                data: formData,            // Data to send
                success: function(response) {
                    $('#journal-form')[0].reset();
                },
                error: function(error) {
                    alert('Error: ' + error.responseText);  // Handle error response
                }
            });
        });
    });
  </script>
{% endblock %}