<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your Journals</h1>

    {% if journals %}
        <ul>
            {% for journal in journals %}
                <li>
                    <h3>{{ journal.date }}</h3>
                    <p><strong>Content:</strong> {{ journal.content }}</p>
                    <p><strong>Future Plans:</strong> {{ journal.future }}</p>
                    <p><strong>Comments:</strong> {{ journal.comment }}</p>
                    <p><strong>StartDate:</strong> {{ journal.startDate }}</p>
                    <p><strong>StartDate:</strong> {{ journal.endDate }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Journals found.</p>
    {% endif %}
</body>
</html>