{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Dashboard{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="dashboard-container">
  <div class="reminders">
    {% if journals %}
      {% for journal in journals %}
      <div class="reminder-date">
        {{ journal.date }}
      </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="bestself">
    <div class="left">
      <p>
        {{ affirmation1.text }}
      </p>
    </div>
    <div class="middle">
      <p id="af1">empty text</p>
    </div>
    <div class="right">
      <p id="af2">
        {{ affirmation2.text }}
      </p>
      <p id="af3">
        {{ affirmation3.text }}
      </p>
    </div>    
  </div>
</div>
{% endblock %}