<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="content">Content Goes Here</label> <br>
        <input type="text" id="content" name="content"> <br>
        <label for="future">Future Goals Go Here</label> <br>
        <input type="text" id="future" name="future"> <br>
        <input type="submit" value="Save">
    </form>
</body>
</html>